

body{
    background-image: url(../assets/mirrored_squares.png) ;
}


.nav-title{
    background-color: #4aaaa5;
    padding: 30px;
    color: white;
    max-width: 180px;
    margin: auto;
    margin-bottom: -10px;
    margin-top: -10px;
    

}

#aboutme{
    color: teal;
    background-color: white;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 100px;
}
.about_pic{
    float: left;
    padding: 20px 20px
}

 
#portfolio,
#contact,
#about{
    text-align: right;
    float: right;
    padding: 0px 30px;
    line-height: 18px;
    color: #999;
    border-left: 1px solid #efefef;
     
}


#name{
    padding: 50px;
    color: white;
    margin-left: 50px;
    max-width: 250px;
    background-color: teal;

}
p{
    color: gray;
    
}

form{
    color: teal;
    background-color: white;
    padding: 50px;
    margin: 50px;
}

.contact_name{
    padding: 10px 500px;
    
}
.contact_message{
    
}
.contact_email{
    padding: 10px 500px;
}
.contact_sumbit{
    text-align: center;
}

#project{
    
    
    width: 274px;
    margin: 20px 20px 25px;
    
}

.col-md-4 h4{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 50px 0px;
    padding: 15px;
    text-align: center;
    width: 200px;
    background: #4aaaa5;
    


}
