* {
    border: 0;
    padding: 0;
    margin: 0;
}
body {
    background-image: url(../bg-img.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1, h2 {
    font-family: OktaNeue-BlackItalic; 
	font-weight: bold; 
}
.whitespace {
    height: 100px;
}

#first {
    width: 100%;
    height: 100vh;
    

}
#first-title {
    font-family: OktaNeue-BlackItalic;  
    font-style: normal; 
    font-weight: bolder;
    font-size: 90px;
    color: #ff7315;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: -50%;
    position: relative;
    top: -400px;
    left: 200px;
}
#first-subtitle {
    font-family: OktaNeue-BlackItalic; 
	font-weight: bold;  
    font-style: italic;
    font-size: 40px;
    color: #f4f4f4;

}
#first-subtitle-col {
    top: -50px;
}
#austin-pic {
    z-index: 3;
    width: 400px;
    height: 500px;
}
#austin-col {
    top: -10px;
    left: 150px;

}
.me {
    width: 350px;
    height: 500px;
    z-index: 1;
    
}
#me-col {
    top: -250px;
    z-index: 1;
}
#second {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient( #f4f4f4, #ff7315) */

}
#second-title {
    font-family: OktaNeue-BlackItalic; 
	font-weight: bold;  
    z-index: 2;
    font-size: 90px;
    color: #f4f4f4;
    
}
.card-text {
    text-align: center;
    font-family: OktaNeue-BlackItalic;
    font-weight: normal; 
    color: #f4f4f4;
}
.card-text2 {
    text-align: center;
    font-family: OktaNeue-BlackItalic;
    font-weight: normal;
    color: #f4f4f4; 
    
}
p {
    font-family: OktaNeue-BlackItalic; 
	font-weight: normal;

}

#third {
    width: 100%;
    height: 100vh;

}
#third-title {
    font-family: OktaNeue-BlackItalic;  
    font-style: normal; 
    font-weight: bolder;
    font-size: 90px;
    color: #ff7315;

}
#fourth {
    width: 100%;
    height: 100vh;
}

