

body{
    background-image: url(../assets/mirrored_squares.png) ;
}
header{
    background-color: white;
    margin: -20px -10px -10px -10px;   
    
}
#header{
    border-bottom: 5px solid black;
}
#aboutme{
    color: teal;
    background-color: white;
    padding: 50px;
    margin: 50px;
    padding-bottom: 200px;
}
.about_pic{
    float: left;
    padding: 20px 20px
}


#portfolio{
    text-align: right;
    float: right;
    padding: 0px 50px;
    color: gray;   

}
#contact{
    float: right;
    padding: 0px 50px;
    color: gray;

}
#about{
    text-align: right;
    float: right;
    padding: 0px 50px;
    color: gray;  
}

#name{
    padding: 50px;
    color: white;
    margin-left: 100px;
    max-width: 150px;
    background-color: teal;
    text-align: center;   
}
#paragraph{
    color: gray;
    padding-top: 50px;
    
}

form{
    color: teal;
    background-color: white;
    padding: 50px;
    margin: 50px;
}


#pic1{
    margin: 20px;
}
.centered{
    
    position: relative;
    top: 170px;
    left: 80px;
    
}
#pic2{
    margin: 20px;
}

#pic3{
    margin: 20px;
}
#pic4{
    margin: 20px;
}
#pic5{
    margin: 20px;
}
.second_row{
    position: relative;
    left: 300px;
    top: -785px;
}
footer{
    height: 50px;
}

.contact_name{
    padding: 10px 500px;
    
}
.contact_message{
    padding: 50px 500px
}
.contact_email{
    padding: 10px 500px;
}
.contact_sumbit{
    text-align: center;
}